<%= render partial: './partials/merchant_nav' %>

<% content_for :merchant do %>
  <%= render partial: './partials/merchant_nav' %>
<% end %>

<h3>Favorite Customers</h3>
<% @top_customers.each do |customer| %>
  <p> <%= customer.first_name %> <%= customer.last_name %>:
    <%= customer.transaction_count %> purchases </p>
<% end %>


<h3>Items Ready To Ship</h3>
<% @items_to_ship.each do |item| %>
<section id="invoice-<%= item.invoice_id %>">
  <p> <%= item.name %>- <%= link_to "Invoice ##{item.invoice_id}", "/merchants/#{@merchant.id}/invoices/#{item.invoice_id}" %>
    <%= item.invoice_creation.strftime('%A, %B %d, %Y') %> </p>
  </section>
<% end %>
