<h1 id="dash">Admin Dashboard</h1>


<ul>
  <li><%= link_to "Merchants Index", '/admin/merchants' %></li>
  <li><%= link_to "Invoices Index", '/admin/invoices' %></li>
</ul>


<h2>Top 5 Customers:</h2>
<table>
  <th>Customer name:</th>
  <th>Successful transactions:</th>
  <% @top_customers.each do |customer| %>
    <tr>
      <td><%= "#{customer.first_name} #{customer.last_name}" %></td>
      <td><%= "#{customer.tran_count} transactions" %></td>
    </tr>
  <% end %>
</table>

<h2>Incomplete Invoices</h2>
<table>
  <th>Invoice id:</th>
  <th>Date created:</th>
  <% @incomplete_invoices.each do |invoice| %>
    <tr>
      <td><%= link_to( "Invoice #{invoice.id}", admin_invoice_path(invoice.id) ) %></td>
      <td><%= "Created on: #{invoice.created_at.strftime('%A, %B %d, %Y')}"%></td>
    </tr>
  <% end %>
</table>
