<% content_for :admin do %>
  <%= render partial: './partials/admin_nav' %>
<% end %>

<h2><%= "Invoice ##{@invoice.id}" %></h2>

<h4> Details: </h4><br/>
  <%= form_with model: [:admin, @invoice], url: admin_invoice_path(@invoice.id), method: :patch, layout: :inline, local: true do |f| %>
    <%= f.label :status %>
    <%= f.select :status, [['In Progress', :in_progress], ['Completed', :completed], ['Cancelled', :cancelled]], selected: @invoice.status %>
    <%= f.submit 'Update' %>
  <% end %><br/>
<p><%= "Created on: #{@invoice.created_at.strftime('%A, %B %d, %Y')}"%></p>

<h4> Customer: </h4>
<p> <%= @customer.first_name %> <%= @customer.last_name %> </p>

<h4> Summary: </h4>
<p><b> Total Revenue: </b> <%= number_to_currency(@invoice.total_revenue.to_f / 100) %></p>
<p><b> Discounted Total: </b> <%= number_to_currency(@invoice.discounted_total.to_f / 100) %></p>


<h3> Items </h3>
<section>
  <table>
    <th> Item Name </th>
    <th> Quantity </th>
    <th> Sale Price </th>
    <% @items.each do |item| %>
      <tr>
        <td> <%= item.name %> </td>
        <td> <%= item.sale_quantity %> </td>
        <td> <%= number_to_currency(item.sale_price.to_f/100) %> </td>
      </tr>
    <% end %>
  </table>
</section>
