<h1>Invoice Show Page</h1>

<h2><%= "Invoice: #{@invoice.id}" %></h2>
<h3 id="status" ><%= "Status: #{@invoice.status}" %></h3>
<h3><%= "Created on: #{@invoice.created_at.strftime('%A, %B %d, %Y')}"%></h3>
<h3><%= "Customer: #{@customer.first_name} #{@customer.last_name}" %></h3>
--------------------------------------
<h4>Update status:</h4>
<%= form_with model: [:admin, @invoice], url: admin_invoice_path(@invoice.id), method: :patch, local: true do |f| %>
  <%= f.select :status, ['in progress', 'completed', 'cancelled'], selected: @invoice.status %>
  <%= f.submit 'Update' %>
<% end %>

<h2>Items:</h2>
<ol>
  <% @items.each do |item| %>
    <li><%= "Item: #{item.name}" %>
      <ul>
        <li><%= "Quantity: #{item.sale_quantity}" %></li>
        <% price = item.sale_price.to_f %>
        <li><%= "Sale Price: #{number_to_currency(price/100)}" %></li>
      </ul>
    </li>
  <% end %>
</ol><br>
<h2><%= "Total Revenue: #{number_to_currency(@invoice.total_revenue.to_f / 100)}" %></h2>
