<h1>Invoice Show Page</h1>

<h2><%= "Invoice: #{@invoice.id}" %></h2>
<h3><%= "Status: #{@invoice.status}" %></h3>
<h3><%= "Created on: #{@invoice.created_at.strftime('%A, %B %d, %Y')}"%></h3>
<h3><%= "Customer: #{@customer.first_name} #{@customer.last_name}" %></h3>

<h2>Items:</h2>
<ol>
  <% @items.each do |item| %>
    <li><%= "Item: #{item.name}" %>
      <ul>
        <li><%= "Quantity: #{item.sale_quantity}" %></li>
        <% price = item.sale_price %>
        <li><%= "Sale Price: $#{sprintf("%.2f",(price.to_f / 100))}" %></li>
      </ul>
    </li>
  <% end %>
</ol>
