<% content_for :merchant do %>
  <%= render partial: './partials/merchant_nav' %>
<% end %>

<h1>My Discounts</h1>
<table>
  <th> Discount Name </th>
  <th> Percentage Off </th>
  <th> Quantity Threshold </th>
  <% @discounts.each do |discount| %>
    <tr id="discount-<%= discount.id %>">
      <td><%= link_to "#{discount.name}", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %></td>
      <td><%= number_to_percentage(discount.percentage * 100, precision: 2) %></td>
      <td><%= discount.quantity_threshold %></td>
    </tr>
  <% end %>
</table>
