<% content_for :merchant do %>
  <%= render partial: './partials/merchant_nav' %>
<% end %>

<h1>My Discounts</h1>
<table>
  <th> Discount Name </th>
  <th> Percentage Off </th>
  <th> Quantity Threshold </th>
  <th> Options </th>
  <% @discounts.each do |discount| %>
    <tr id="discount-<%= discount.id %>">
      <td><%= link_to "#{discount.name}", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %></td>
      <td><%= number_to_percentage(discount.percentage * 100, precision: 2) %></td>
      <td><%= discount.quantity_threshold %></td>
      <td><%= button_to 'Delete', merchant_discount_path(@merchant.id, discount.id), method: :delete, local: true %></td>
    </tr>
  <% end %>
</table><br/>

<%= button_to 'New discount', new_merchant_discount_path(@merchant.id), method: :get, local: true %>

<section id='holidays'>
  <h3>Upcoming Holidays</h3>
  <% NagerHoliday.next_3_holidays.each do |holiday| %>
    <h4><%= holiday[:localName] %></h4>
    <p>Observed: <%= Date.parse(holiday[:date]).strftime('%A, %B %d, %Y') %></p>
  <% end %>
</section>
