<% content_for :merchant do %>
  <%= render partial: './partials/merchant_nav' %>
<% end %>

<h1>New Discount</h1>

<div class="container py-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <%= bootstrap_form_with model: [@merchant, @discount], local: true do |f| %>
      <div class="form-group row">
        <div class="col-sm-6">
          <%= f.text_field :name, placeholder: 'Name your discount', required: true %>
        </div>
        <div class="col-sm-6">
        <%= f.number_field :percentage, label: 'Percentage discounted', in: 0.00..100.00, step: 0.01, required: true, append: '%' %>
        </div>
      </div><br/>
      <div class="form-group row">
        <%= f.number_field :quantity_threshold, label: 'Purchases required for eligibility', in: 0..1000, step: 1, required: true, append: 'items'  %>
      </div><br/>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
