<h2><%= @merchant.name %></h2>

<section id="enabled">
  <h3>Enabled Items</h3>

  <% @items.enabled_only.each do |item| %>
    <div id="item-<%= item.id %>">
      <p><%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %></p>
      <%= button_to 'Disable', merchant_item_path(@merchant.id, item.id), method: :patch, params: {:"item[enabled]" => false}, local: true %>
    </div>
  <% end %>
</section>

<section id="disabled">
  <h3>Disabled Items</h3>

  <% @items.disabled_only.each do |item| %>
    <div id="item-<%= item.id %>">
      <p><%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %></p>
      <%= button_to 'Enable', merchant_item_path(@merchant.id, item.id), method: :patch, params: {:"item[enabled]" => true}, local: true %>
    </div>
  <% end %>
</section>

<section id="popular">
  <h3>Top 5 Items</h3>

  <ol>
    <% @items.top_5_by_revenue.each do |item| %>
      <li id="item-<%= item.id %>">
        <p><%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %></p>
        <p>Total revenue: <%= number_to_currency(item.revenue / 100 ) %></p>
      </li>
    <% end %>
  </ol>
</section>