<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <h1>Little Esty Shop</h1>
    <% flash.each do |type, msg| %>
      <div class=<%=type%>>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
    <footer>
      <p>Repo: <%= GithubRepo.name_info %></p>
      <% GithubContributors.contributors_info.each do |contributor| %>
        <p><%= "Contributor: #{contributor[1][:name]}, Commits: #{contributor[1][:contributions]}" %></p>
      <% end %>
      <p>Merged Pull Requests: <%= GithubPullRequests.merged_pulls %></p>
    </footer>
  </body>
</html>
